<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        <!-- 遍历分页后的文章 -->
        {% for post in paginator.posts %}
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y " }}</span>
          <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {% endfor %}
        <!-- fix page1 链接 -->
          {% if paginator.total_pages > 1 %}
          <div class="pagination">


            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
            {% else %}
              <span>&laquo; Prev</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
              {% if page == paginator.page %}
                <li class="active"><a>{{ page }}</a>
              {% elsif page == 1 %}
                <a href="{{  site.baseurl }}">{{ page }}</a>
              {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
              {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            {% else %}
              <span>Next &raquo;</span>
            {% endif %}
          </ul>
          </div>
          {% endif %}

    </div>

      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
